{% set heure = current_time.hour %}
{% set jour = current_time.day %}

{% if jour % 2 == 0 %}
    {% if heure >= 12 %}
        pair et plus tard que midi
    {% else %}
        pair et avant midi
    {% endif %}
{% else %}
    {% if heure >= 12 %}
        impair et plus tard que midi
    {% else %}
        impair et avant midi
    {% endif %}
{% endif %}
